<div class="col-md-3 w3_footer_grid">
				<h3>what in stores</h3>
				<ul class="w3_footer_grid_list">
					<li><a href="{% url 'pet' %}">DESKTOPS</a></li>
					<li><a href="{% url 'frozen' %}">KEYBOARD AND MOUSE</a></li>
					<li><a href="{% url 'kitchen' %}">SERVERS</a></li>
					<li><a href="{% url 'products' %}">MONITORS</a></li>
					<li><a href="{% url 'household' %}">PROJECTORS</a></li>
                    <li><a href="{% url 'household' %}">NETWORKING</a></li>
                    <li><a href="{% url 'household' %}">WEB DESIGN</a></li>
				</ul>
			</div>